.form{
    height: 700px;
    width: 600px;
    margin-left: 10px;
    margin-top: 50px;
    background-color: rgba(34, 113, 158, 0.274);
    padding: 50px;
    border-radius: 15px;
   font-size:20px;
}

.btn{
    margin-top: 50px
}

.form-group{
    padding: 15px;
}

.form-control{
    height: 45px;
    border-radius: 10px
} 

.jumbotron{
	background-image:url("p2.jpg");
	margin-top:20px;
	background-size:cover;
}